body {
  font-family: 'Barlow', sans-serif;
  background-color: #FFE55F;
  color: #4E4E4E;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  align-self: flex-start;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.city-country {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.city-country h3 {
  margin: 0;
}

.temp-icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.temp-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.temp-icon img {
  width: 25%;
}

.temperature {
  font-size: 4vmax;
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.weather img {
  width: 20%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-info {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;

}

.humidity,
.wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extra-info img {
  width: 15%;
}