body {
  font-family: 'Barlow', sans-serif;
  color: #4E4E4E;
  background: linear-gradient(-45deg, #4eebfc, #35daff, #23bad5);
  background-size: 100vw 100vh;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 20px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

span.icon {
  position: absolute;
  margin-left: 1%;
}

.input-search {
  width:400px;
  height: 40px;
  border-radius: 10px;
  text-indent: 8%;
  color: #4E4E4E;
  border: none;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
}

.input-search:focus {
  outline: none;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.city-country {
  margin-top: 30px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.city-country h3 {
  margin: 0;
}

.temp-icon-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.temp-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.temp-icon img {
  width: 25%;
}

.temperature {
  font-size: 4vmax;
}

.weather {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.weather img {
  width: 20%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extra-info {
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: center;

}

.humidity,
.wind {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.extra-info img {
  width: 15%;
}